html {
    font-size:70%;
    font-family:'VT323',monospace
}

body {
    font-size:1.6rem;
    background:black;color:white;height:auto;margin:0 auto;min-height:100vh;position:relative
}

body::after {
    content:'';
    display:block;height:50px
}

p#code {
    font-family:'VT323' monospace;
    color:#aa00aa
}

hr {
    border:1px dashed #00aaaa;
}

div {.main_container{height:auto}

}header {border-bottom:0.2rem solid #000}

nav {text-align:right}

nav .delim {color:cyan}

nav a {font-size:1.8rem;background:black;font-weight:bold;color:white;text-decoration:none;text-transform:uppercase}

a:link {color:magenta}

a:visited {color:cyan}

a:hover {color:white;text-transform:uppercase}

a:active {color:yellow}

.spacer{flex:1}

#page-container{position:relative;min-height:80vh}

#content{padding-bottom:2.5rem}

footer{position:absolute;bottom:0;width:100%;height:2.5rem;font-size:1rem}

h1{font-size:2.4rem;color:#aa00aa}

h2{font-size:2rem}

article{.header{font-size:1.4rem;font-style:italic;color:#555}

.name{color:red}

}.logo a{font-weight:bold;color:white;text-shadow:1px 1px magenta,1.5px 1.5px yellow,-0.8px -0.8px cyan;text-decoration:none;position:relative}

@media (max-width:319px){body{margin:0;padding:0 5%}

header{margin:4.2rem 0}

nav{margin:0 auto 3rem;text-align:center}

footer{text-align:center}

.logo{text-align:center;margin:1rem auto 3rem;color:white}

.logo a{font-size:2.4rem;color:white}

nav a{display:block;line-height:1.6}

}
@media (min-width:320px){body{
    width:90%;
    margin:0;
    padding:0 5%
}

header{margin:4.2rem 0}

nav{ 
    margin:0 auto 3rem;
    text-align:center
}

footer{
    text-align:right;
    position:absolute;
    width:100%}

.logo{
    text-align:center;
    margin:1rem auto 3rem;
}

.logo a{font-size:2.4rem}

nav a{display:inline;margin:0 0.6rem}

}@media (min-width:640px){body{width:90%;margin:0 auto;padding:0;min-height:100%}

header{margin:0 0 3rem;padding:1.2rem 0}

nav{margin:0;text-align:right}

nav a{margin:0 0 0 0;display:inline}

.logo{margin:0;text-align:left}

.logo a{float:left;font-size:1.8rem}

}
